

*~
*.o
*.o_p
*.hi
dist/
dist-stack/
stack.yaml.lock
.stack-work
*.swp
client_session_key.aes
cabal-dev/
yesod/foobar/
.hsenv/
.cabal-sandbox/
cabal.sandbox.config
/vendor/
.shelly/
tarballs/

# useful when mounting into docker
.cabal
.ghc
.stackage
.bash_history

###################
# GLOBAL
###################
*.DS_Store

###################
# VS CODE
###################
*.vscode/*
*.vscode/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Executables
*.exe
*.out
*.app

###########################
# HASKELL
###########################

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# ignore yarn.lock
yarn.lock

